DATABASE_URL="postgresql://postgres.ldzlhefoqgqtmvanoyya:%40%23123Anandsingh@aws-1-ap-south-1.pooler.supabase.com:6543/postgres?pgbouncer=true&schema=public"
DIRECT_URL="postgresql://postgres.ldzlhefoqgqtmvanoyya:%40%23123Anandsingh@aws-1-ap-south-1.pooler.supabase.com:5432/postgres?schema=public"
JWT_SECRET="your-super-secret-jwt-key-minimum-32-characters-long-change-this-in-production"
NODE_ENV="development"
ADMIN_PASSWORD="change-this-immediately-in-production"
TEST_USER_PASSWORD="change-this-for-test-user"
CSRF_SECRET="your-csrf-secret-key-minimum-32-characters-long"
ENABLE_STRICT_CSRF="false"
